<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Background.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C847846A1E9DD4580083FBCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C84784831E9DD4580083FBCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C847848E1E9DD4590083FBCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
